@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lemonada:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Caveat", cursive;
}

/* .tubes .tubes-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
} */

.tube {
  height: 200px;
  min-width: 70px;
  position: relative;
  cursor: pointer;
}

.tube.activeBottle {
  transform: translateY(-20px) rotate(5deg);
}

.soda-inner {
  position: absolute;
  border: 2px solid black;
  min-height: 115px;
  border-radius: 0 0 30px 30px;
  border-top: none;
  min-width: 50px;
  filter: drop-shadow(2px 3px 2px grey);
}

.soda-inner div:first-child {
  border-radius: 0 0 30px 30px;
}

.sip {
  width: 46px;
  opacity: 0.8;
}

.blue {
  background: linear-gradient(0.25turn, aqua, 40%, rgb(0, 255, 255));
  color: transparent;
}
.red {
  background: linear-gradient(0.25turn, red, 40%, rgba(255, 0, 0, 0.726));
  color: transparent;
}
.yellow {
  background: linear-gradient(0.25turn, yellow, 40%, rgba(255, 255, 0, 0.678));
  color: transparent;
}
.green {
  background: linear-gradient(
    0.25turn,
    yellowgreen,
    40%,
    rgba(0, 128, 0, 0.856)
  );
  color: transparent;
}
