* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tube {
  background-image: url("./assets/tube.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 400px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soda-inner {
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}

.sip {
  width: 45px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}
